* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-family: "Roboto Mono", monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:hover {
  cursor: pointer;
}

b {
  color: rgb(42, 190, 42);
  font-weight: bold;
}

.top-container {
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
}

.console-container p.header-console {
  width: min-content !important;
  position: relative;
  float: left;
  padding-right: 15px;
}

.console-container p.type-animation {
  animation: type 2s steps(30, end);
  padding-left: 0 !important;
  margin-right: 0 !important;
}

.console-container p.presentation {
  width: 35em !important;
  visibility: hidden;
}

span {
  animation: blink 1s infinite;
  color: white;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.container-b {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
}

.container-b h3 {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 100;
}

.container-b h4 {
  color: rgb(42, 190, 42);
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 100;
}

.container-b ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-align: center;
  list-style: none;
  padding: 0;
  color: white;
  line-height: 30px;
}

.container-a {
  width: 100%;
  background-color: #2c2c2c;
  height: auto;
}

.container-a h1 {
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 200;
  margin: 0;
  padding: 7vh 0 7vh 0;
}

.container-a h3 {
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 200;
  margin: 0;
  padding: 7vh 0 7vh 0;
}

.container-a p {
  color: white;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.container-a a {
  color: rgb(42, 190, 42);
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.image-container {
  max-width: 300px;
  width: 60vw;
  margin: 0 auto;
}

.responsive-img {
  max-width: 300px;
  width: 60vw;
  height: auto;
  border-radius: 50%;
}

.error {
  font-size: 150px;
  display: inline;
}

.projectinfo {
  max-width: 700px;
  width: 90vw;
  margin: 0 auto;
}

.vert-align {
  width: 100vw;
  height: calc(100vh - 117px);
  display: table-cell;
  vertical-align: middle;
  text-align: center !important;
}

.vert-align p {
  text-align: center !important;
  padding-top: 30px;
}

.footer-container {
  width: 100%;
  background-color: #2c2c2c;
  height: auto;
}

.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  padding-bottom: 80px;
}

.footer h1 {
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 200;
  margin: 0;
  padding: 5vh 0 5vh 0;
}

.footer p {
  color: white;
  line-height: 25px;
  text-align: center;
  padding: 15px;
}

.footer a.email {
  color: rgb(42, 190, 42);
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.icon {
  color: white;
  font-size: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.5);
  transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.icon-container {
  width: 350px;
  display: table;
  margin: 0 auto;
}

.paragrafo {
  max-width: 700px;
  width: 90vw;
  margin: 0 auto;
}

@media (max-width: 954px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* RESPONSIVE */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 699px) {
  .console-container {
    display: none;
  }

  .small-display {
    width: 100vw;
    font-size: 0.7em;
    line-height: 35px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media only screen and (min-width: 700px) {
  /* Medium screen, non-retina */
  .console-container {
    width: 635px; /* cambiato */
    margin: 0 auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .console-container p {
    color: white;
    font-size: 20px; /* cambiato */
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    text-decoration: none;
    margin: 0;
  }

  .small-display {
    display: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px),
  only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 700px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 700px),
  only screen and (min-resolution: 192dpi) and (min-width: 700px),
  only screen and (min-resolution: 2dppx) and (min-width: 700px) {
  /* Medium screen, retina, stuff to override above media query */

  .console-container {
    width: 635px; /* cambiato */
    margin: 0 auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .console-container p {
    color: white;
    font-size: 20px; /* cambiato */
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    text-decoration: none;
    margin: 0;
  }

  .small-display {
    display: none;
  }
}

@media only screen and (min-width: 1300px) {
  /* Large screen, non-retina */
  .console-container {
    width: 800px; /* cambiato */
    margin: 0 auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .console-container p {
    color: white;
    font-size: 25px; /* cambiato */
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    text-decoration: none;
    margin: 0;
  }

  .small-display {
    display: none;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
  only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px),
  only screen and (min-resolution: 192dpi) and (min-width: 1300px),
  only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
  /* Large screen, retina, stuff to override above media query */
  .console-container {
    width: 800px; /* cambiato */
    margin: 0 auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .console-container p {
    color: white;
    font-size: 25px; /* cambiato */
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    text-decoration: none;
    margin: 0;
  }

  .small-display {
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .console-container {
    width: 955px;
    margin: 0 auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .small-display {
    display: none;
  }

  .console-container p {
    color: white;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    text-decoration: none;
    margin: 0;
  }

  .image-container {
    max-width: 300px;
    width: 60vw;
    position: relative;
  }

  .vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .paragrafo {
    max-width: 700px;
    width: 90vw;
    margin: 0;
    margin: 0 auto;
  }

  .paragrafo p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper > div {
    position: relative;
    flex: 1 1 150px;
    height: 500px;
  }

  .skill-info {
    position: relative !important;
    transform: none !important;
    top: unset !important;
    left: unset !important;
  }
}

/* Work Experience Section */
.work-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* margin: 1.5rem; */
}
.work-experience .work-experience-item {
  /* border: 1px solid rgb(42, 190, 42); */
  /* margin: 2rem; */
  height: auto;
  width: 45rem;
  padding: 15px;
}
.work-experience .work-experience-item p {
  margin-top: 3rem;
}

@media screen and (min-width: 767px) {
  .work-experience {
    flex-direction: column;
  }
}
